.herald-ui-results__stats {
  position: relative;
  height: 150px;
  width: 150px;
}
.herald-ui-results__stats__grade {
  display: table-cell;
  text-align: center;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  font-size: 60px;
}
.herald-ui-results__stats__chart {
  /* We have to use 100% here, because Chart.js sets a fixed width attribute. */
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
}
.herald-ui-results__stats__grade--a,
.herald-ui-results__stats__grade--b {
  color: #39D34D;
}
.herald-ui-results__stats__grade--c,
.herald-ui-results__stats__grade--d {
  color: #46BFBD;
}
.herald-ui-results__stats__grade--e {
  color: #FDB45C;
}
.herald-ui-results__stats__grade--f {
  color: #F7464A;
}
.herald-ui-results__modal-link {
  display: block;
  margin: 1em 0;
}
